include *.cfg *.py *.rst *.txt COPYING bellyfeel/migrations bellyfeel/migrations/* bellyfeel/migrations/versions/* bellyfeel/static bellyfeel/static/* bellyfeel/static/dist bellyfeel/static/dist/* bellyfeel/templates bellyfeel/templates/* bellyfeel/templates/admin bellyfeel/templates/admin/*