{% extends "admin/base.html" %}
{% block container %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-sm-12">
    <form class="form-signin" action="{{ url_for('admin_change_password_post') }}" method="post" enctype="multipart/form-data">
      <h3 class="form-signin-heading">Setup two-factor authentication</h3>
      <p class="lead">
        This adds an extra layer of security to access your account.
        You can use any TOTP manager of your choice.
      </p>
      <p>Here is a list of apps that you can choose from, in case you're unsure:</p>
      <ol>
        <li><a href="https://www.authy.com/download">Authy</a></li>
        <li><a href="https://github.com/google/google-authenticator">Google Authenticator</a></li>
      </ol>
      <hr />
      <p>
        <img src="{{ url_for('admin_render_temporary_totp_token') }}" />
      </p>
    </form>
  </div>
  <div class="col-md-4"></div>

</div>
{% endblock %}
