{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Tor Access</h1>
    <p class="lead">First <a href="https://www.torproject.org/download/download-easy.html.en">you must install Tor</a>. Better yet, you should be using a <a href="https://tails.boum.org/">copy of Tails Linux.</a></p>
    <p>Then just go to the address: <code>oldspeak7q4shpc4.onion</code></p>
    <hr />
    <p><em>You can also try it out here: <a href="https://oldspeak7q4shpc4.onion.to"><strong>https</strong>://oldspeak7q4shpc4.onion.to</a>
  </div>
</div>
{% endblock %}
